<div class="row">
  <div class="col-sm-12 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="card-title">
          <div class="title pull-left">All Target Systems</div>
        </div>
      </div>

      <div class="panel-body" *ngIf="!is_db_configured" style="padding-top: 20px">
        <div class="row">
          <div class="col-md-12">
            <div class="sub-title">Experiments database is not configured yet.
              <a (click)="navigateToConfigurationPage()"> please configure it here </a>
            </div>
          </div>
        </div>
      </div>

      <div class="panel-body" *ngIf="is_db_configured">
        <div class="table-responsive">
          <table style="margin-top: 20px" class="table table-striped table-bordered table-hover" [mfData]="targets" #mf="mfDataTable"
                 [mfRowsOnPage]="10" >
            <thead>
            <tr>
              <th style="width: 5%">
                <div>
                  <a routerLink="/control/targets/create" class="btn btn-orange btn-sm">Create Target System</a>
                </div>
              </th>
              <th>
                <mfDefaultSorter by="status">Status</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter by="name">Name</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter by="description">Description</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter by="target">Primary Data Provider</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter by="target">Change Provider</mfDefaultSorter>
              </th>
            </tr>
            </thead>
            <tbody class="bigTable">
            <tr *ngFor="let item of mf.data">
              <td>
                <a class="btn btn-xs btn-orange" type="button"
                   routerLink="/control/targets/edit/{{item.id}}"><i class="fa fa-search"></i> Details
                </a>
              </td>
              <td>
                <label *ngIf="item.status == 'READY'" class="label label-success">READY</label>
                <label *ngIf="item.status == 'WORKING'" class="label label-info">WORKING</label>
                <label *ngIf="item.status == 'ERROR'" class="label label-danger">ERROR</label>
              </td>
              <td>{{item.name}}</td>
              <td>{{item.description}}</td>
              <td>{{item.primaryDataProvider?.type}}</td>
              <td>{{item.changeProvider?.type}}</td>
            </tr>
            </tbody>
            <tfoot *ngIf="targets.length > 10">
            <tr>
              <td colspan="4">
                <mfBootstrapPaginator [rowsOnPageSet]="[10,25,100]"></mfBootstrapPaginator>
              </td>
            </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
